<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motor Position</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Motor Position</h1>

    <div id="positionMotor14">Fetching Motor 14 Position...</div>
    <div id="positionMotor15">Fetching Motor 15 Position...</div>
    <div id="compassData">Fetching Compass Data...</div>
    <div id="inclinometerData">Fetching Inclinometer Angle...</div>
    <div id="inclinometerAirPressure">Fetching Inclinometer Air Pressure...</div>



    <!-- Add a form for setting the motor position -->
    <div>
        <label for="motorSelect">Select Motor:</label>
        <select id="motorSelect">
            <option value="14">Motor 14</option>
            <option value="15">Motor 15</option>
        </select>

        <label for="angleInput">Set Motor Angle:</label>
        <input type="text" id="angleInput" placeholder="Enter angle in degrees">
        <button id="setAngleButton">Set Angle</button>
        <button id="inclonometer0">0 Inclonometer</button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
